body{
    margin: 0;
    padding: 0;
    font-family: "REM", sans-serif;
}

.all-con{
    margin-left: 10px;
}

#h1_perviy{
    background-color: #eed00e;
    border-style: solid;
    border-width: 0.5px;
    border-color: #000000;
    padding: 10px;
}

p{
    font-size: 18px;
}

li{
    margin-top: 10px;
    font-size: 17px;
}

.con-right-img{
    padding: 10px;
    float: right;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}